/Asztali alkalmazás fejlesztés/Kalapacsvetes/nbproject/private/
/Asztali alkalmazás fejlesztés/Kalapacsvetes/build/
/Asztali alkalmazás fejlesztés/gyakorlas/nbproject/private/
/Asztali alkalmazás fejlesztés/gyakorlas/build/
